

<!DOCTYPE html>
{% load static %}
<html>
<head>

	<title>VetDim</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body style="background-color: #F8F9F9;">
	<header>
		<div class="navig">
			<a href="index.html">
				<img src="{% static 'img/logo1.png' %}" class="logo">
			</a>
			<ul>
				<li><a href="index.html"> Головна </a></li>

				<li><a href="#"> Запис </a></li>
				<li><a href="#">Опитування</a></li>

				<div class="dropdown">
					<button class="dropbtn" style="text-decoration: none; color: red; ">Послуги</button>
					<div class="dropdown-content">
						<a href="page1.html#1">Вакцинація та чипування</a>
						<a href="page1.html#2">Інструментальні дослідження</a>
						<a href="page1.html#3">Лабораторна діагностика</a>
						<a href="page1.html#4">Огляд і консультація</a>
						<a href="page1.html#5">Терапевтичні маніпуляції</a>
						<a href="page1.html#6">Хірургічні маніпуляції</a>
					</div>
				</div>
			</ul>
		</div>


	</header>




	<div class="prices_description">





		<p>
			Розгорнуті та зрозумілі описи послуг на сайті - це ключ до зручності та довіри від клієнтів. Наш веб-сайт пропонує докладні та інформативні описи всіх наших послуг, які можуть забезпечити вашому улюбленцю найкращий догляд.

			На нашому сайті ви знайдете вичерпні відомості про медичні процедури, які ми надаємо, від регулярних перевірок здоров'я до складних хірургічних втручань. Ми також докладно пояснюємо процес лікування різних захворювань та надаємо поради з утримання та догляду за тваринами.

			Зрозумілі описи послуг сприяють кращому розумінню клієнтами, як саме ми можемо допомогти їхнім улюбленцям. Ми віримо в відкритість та чесність, тому поділимося всім, що ми можемо зробити для здоров'я та щастя вашої тварини.

			Крім того, наші докладні описи послуг допоможуть вам обрати найкращий варіант для вашої тварини, враховуючи її потреби та ваш бюджет. Ви зможете здійснити інформований вибір, впевнені, що обираєте найкращий медичний догляд для свого улюбленця.

			Будьте впевнені, що наші докладні описи послуг створені для вас, щоб зробити ваш вибір легшим і впевненим. Наша команда готова відповісти на всі ваші питання та надати вам необхідну підтримку на кожному етапі лікування та догляду за вашою твариною.
		</p>

	</div>


	<div class="prices">
		<table>
			<p id="1">Вакцинація та чипування</p>
			<tr>
				<td>Вакцинація (без вартості вакцини)</td>
				<td>шт</td>
				<td>96</td>
			</tr>
			<tr>
				<td>Вакцинація кролів (без вартості вакцини)</td>
				<td>шт</td>
				<td>52</td>
			</tr>
			<tr>
				<td>Чипування (без вартості чіпа)</td>
				<td>шт</td>
				<td>52</td>
			</tr>
		</table>


		<table>
			<p id="2">Інструментальні дослідження</p>
			<tr>
				<td>FAST дослідження</td>
				<td>шт</td>
				<td>95</td>
			</tr>

			<tr>
				<td>ЕХО скринінг серця</td>
				<td>шт</td>
				<td>95</td>
			</tr>

			<tr>
				<td>Мієлографія (без вартості контрасту і рентгена)</td>
				<td>шт</td>
				<td>95</td>
			</tr>

			<tr>
				<td>Рентгенівський знімок (запис на диск)</td>
				<td>шт</td>
				<td>95</td>
			</tr>

			<tr>
				<td>Рентгенографія другої проєкції</td>
				<td>шт</td>
				<td>95</td>
			</tr>

			<tr>
				<td>Рентгенографія першої проєкції</td>
				<td>шт</td>
				<td>95</td>
			</tr>

			<tr>
				<td>Рентгенографія третьої та наступних проєкцій</td>
				<td>шт</td>
				<td>95</td>
			</tr>

			<tr>
				<td>Рентгенологічне дослідження при стоматологічних маніпуляціях</td>
				<td>шт</td>
				<td>95</td>
			</tr>

			<tr>
				<td>УЗД абдомінальне</td>
				<td>шт</td>
				<td>95</td>
			</tr>

			<tr>
				<td>УЗД абдомінальне (повторне протягом 10 днів)</td>
				<td>шт</td>
				<td>95</td>
			</tr>

		</table>

		<table>

			<p id="3">Лабораторна діагностика</p>
			<tr>
				<td>БАЛ (із забором матеріалу на посів)	</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Біохімічне дослідження (автоматичний аналізатор)</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Біохімічне дослідження (один показник — АЛТ)</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Біохімічне дослідження (один показник — альбумін)</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Біохімічне дослідження (один показник — аміак)</td>
				<td>шт</td>
				<td>200</td>
			</tr>
		</table>

		<table>
			<p id="4">Огляд і консультація</p>
			<tr>
				<td>Консультація</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Консультація без тварини</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Консультація за результатами аналізів</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Консультація по утриманню і догляду за твариною</td>
				<td>шт</td>
				<td>200</td>
			</tr>

		</table>

		<table>
			<p id="5">Терапевтичні маніпуляції</p>
			<tr>
				<td>Бинтова пов`язка (накладення, перев`язка)</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Введення препарату (оральне)</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Взяття проби крові</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Видалення кліща</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Гемотрансфузія</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Забір крові</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Забір крові з видачею направлення</td>
				<td>шт</td>
				<td>200</td>
			</tr>
		</table>

		<table>
			<p id="6">Хірургічні маніпуляції</p>
			<tr>
				<td>Ендоскопічна кастрація кобеля крипторха (вагою 20-40 кг)</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Ендоскопічна кастрація кобеля крипторха	</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Ендоскопічна кастрація кобеля крипторха (вагою до 20 кг)</td>
				<td>шт</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Ендоскопічна кастрація кота крипторха (з вартістю анестезії)</td>
				<td>шт</td>
				<td>200</td>
			</tr>


		</table>
	</div>

</body>
</html>

